*{
    margin: 0;
    padding: 0;
}
.logo{
    color: #e3a68b;
    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 5%;
}
nav{
    border-bottom: 1px solid rgb(77, 75, 75);
    width: 100%;
}
.menu{

    background-color: #898d8e;
    display: flex;
    flex-direction: row;
    padding-left: 4%;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 2%;
    padding-right: 2%;
    transition: all .3s;
}
.menu a:hover{
    background-color: #7d9097;
    color: #000;
}
.icon{
    display: none;
}
.mobile{
    display: none;
}
.home_menu.hidden,
.about_menu.hidden,
.services_menu.hidden,
.testimonials_menu.hidden,
.portfolio_menu.hidden,
.contacts_menu.hidden{
    opacity: 0;
    height: 0;
    transition: opacity .8s linear, height .8s linear;
}
.description.hidden,
.list_menu.hidden{
    display: none;
}
.image_menu.hidden{
    height: 0;
}
.image_menu.hidden .img{
    opacity: 0 !important;
    height: 0;
    padding-top: 0;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear;
}
.home_menu,
.about_menu,
.services_menu,
.testimonials_menu,
.portfolio_menu,
.contacts_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    background-color: #898d8e;
    color: #fff;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 400px;
    width: 90%;
    margin-left: 2%;
    z-index: 999;
    transition: opacity .5s linear, height .1s linear;
}
.description{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 75px;
    padding-right: 10%;
    border-right: 1px solid rgb(77, 75, 75);
    margin: 0 0 0 auto;
}
.description p:first-child{
    margin-bottom: 30px;
}
.list_menu{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
    border-right: 1px solid rgb(77, 75, 75);
}
.list_menu a{
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    transition: all .3s;
}
.list_menu a:hover{
    background-color: #7d9097;
    color: #000;
}
.image_menu{
    opacity: 1;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.image_menu .img{
    width: 100%;
    padding-top: 25px;
    height: 250px;
    background-image: url(img/front-view-of-desk-with-computer-and-chair.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.mobile_submenu{
    display: none;
}
.slider{
    height: 700px;
    background-color: #b7bcbe;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.slider-text{
    margin-bottom: 75px;
    margin-right: 3%;
    text-align: end;
}
.slider-text h1{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 4px;
}
.slider-text p{
    color: #d7794a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
}
.main__team_leaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 250px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.team__leaders_text{
    width: 70%;
    text-align: center;
    margin: auto;
}
.team__leaders_text h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #a95e39;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.underline{
    border-bottom: 1px solid #a95e39;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
}
.team__leaders_text p{
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto 50px auto;
}
.team__leaders_containers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.team__leaders_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.photo__team_leader{
    height: 300px;
    background-color: #bfc7cb;
}
.team__leaders_container p{
    font-size: 18px;
    margin-top: 25px;
}
.team__leaders_container p:last-child{
    font-size: 13px;
}







@media screen and (max-width: 768px){
    .menu a{
        padding-left: 1%;
        padding-right: 1%;
    }
    .home_menu,
    .about_menu,
    .services_menu,
    .testimonials_menu,
    .portfolio_menu,
    .contacts_menu{
        font-size: 8pt;
    }
}



@media screen and (max-width: 420px){
    .desktop a{
        display: none;
    }
    .mobile a:not(:first-child){
        margin-left: -200%;
        margin-top: -75px;
        text-align: center;
        visibility: hidden;
        transition: margin-top .3s linear;
    }
    .menu.mobile a.icon{
        display: block;
        float: right;
        width: 10%;
        text-align: center;
        margin-left: 2%;
        z-index: 999;
        cursor: pointer;
    }
    .menu.mobile{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .menu.responsive{
        position: absolute;
        width: 100%;
    }
    .mobile.responsive a{
        margin-left: 0;
        margin-top: 0;
        display: block;
        visibility: visible;
        cursor: pointer;
    }
    .mobile_submenu{
        display: block;
        top: 50px;
    }
    .submenu__home.subhidden,
    .submenu__about.subhidden,
    .submenu__services.subhidden,
    .submenu__testimonials.subhidden,
    .submenu__portfolio.subhidden,
    .submenu__contacts.subhidden{
        height: 0px;
        margin-left: -200% !important;
        transition: all .7s linear;
        opacity: 0;
    }
    .submenu__home.subhidden a,
    .submenu__about.subhidden a,
    .submenu__services.subhidden a,
    .submenu__testimonials.subhidden a,
    .submenu__portfolio.subhidden a,
    .submenu__contacts.subhidden a{
        height: 0px;
        visibility: hidden;
    }
    .submenu__home,
    .submenu__about,
    .submenu__services,
    .submenu__testimonials,
    .submenu__portfolio,
    .submenu__contacts{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        background-color: #898d8e;
        position: absolute;
        margin-top: 75px;
        z-index: 999;
        opacity: 1;
        transition: all .7s linear;
    }
    .submenu__home a,
    .submenu__about a,
    .submenu__services a,
    .submenu__testimonials a,
    .submenu__portfolio a,
    .submenu__contacts a{
        text-decoration: none;
        color: #fff;
        font-size: 10pt;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: background-color .3s, color .3s;
        cursor: pointer;
    }
    .submenu__home a:hover,
    .submenu__about a:hover,
    .submenu__services a:hover,
    .submenu__testimonials a:hover,
    .submenu__portfolio a:hover,
    .submenu__contacts a:hover{
        background-color: #7d9097;
        color: #000;
    }

}